@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

:root {
  --soft-blue-color: #5368df;
  --soft-red-color: #fa5757;
  --grayish-blue-color: #9194a1;
  --very-dark-blue: #252b46;
  --very-dark: #333;
  --very-gray: #f7f5f5;
  --very-gray-2: #ebebeb;
  --very-gray-3: #dddddd;
  --white-color: #fff;
  --font-size: 18px;
  --font-family: "Rubik", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

.container {
  width: 100%;
  max-width: 85%;
  margin: 0 auto;
}

/* ---- Header ---- */

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.3rem 0;
}

.header__nav {
  position: fixed;
  background-color: var(--very-dark-blue);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0.9;
  display: none;
  z-index: 999;
}

.header__nav.open {
  display: block;
  transition: 0.5s;
}

.header__nav-header {
  display: flex;
  justify-content: space-between;
  padding: 2.3rem 1.4rem;
  position: relative;
}

.menu-open,
.menu-close {
  width: 20px;
  cursor: pointer;
}

.header__nav-list {
  list-style: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
  width: 90%;
}

li.header__nav-list-item {
  border-top: 1px solid var(--grayish-blue-color);
  padding: 1.5rem 0;
  text-align: center;
}

a.header__nav-list-link {
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

a.header__nav-list-link--button {
  border: 2px solid white;
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 0.6rem 0;
  border-radius: 0.5rem;
  background: none;
}

.header__nav-social {
  display: flex;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.header__nav-social img {
  margin-left: 40px;
  width: 30px;
}

/* ----- Hero ----- */
.hero {
  padding: 3rem 0;
  position: relative;
  overflow-x: hidden;
}

.hero__pattern {
  position: absolute;
  background: var(--soft-blue-color);
  z-index: -1;
  left: 100px;
  top: 100px;
  width: 100%;
  height: 40%;
  border-bottom-left-radius: 30%;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.hero__left img {
  width: 100%;
  height: 45%;
}

.hero__right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

.hero__right .hero__right-title {
  font-size: 1.7rem;
  font-weight: 500;
  margin: 1.5rem 0;
  text-align: center;
  color: var(--very-dark-blue);
}

.hero__right-description {
  text-align: center;
  line-height: 1.5;
  color: var(--grayish-blue-color);
}

.hero__buttons {
  margin: 5rem 0 0 0;
}

.btn {
  text-decoration: none;
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
}

.btn--blue {
  color: var(--white-color);
  background-color: var(--soft-blue-color);
  -webkit-box-shadow: 0px 4px 17px -1px rgba(83, 104, 223, 0.3);
  box-shadow: 0px 4px 17px -1px rgba(83, 104, 223, 0.3);
}

.btn--light {
  color: var(--very-dark);
  background-color: var(--very-gray);
  -webkit-box-shadow: 0px 4px 17px -1px rgba(83, 104, 223, 0.3);
  box-shadow: 0px 4px 17px -1px rgba(83, 104, 223, 0.3);
}

.hero__btn-left {
  margin-right: 10px;
}

/* ---- features ---- */
.features {
  padding: 4rem 0;
}

.features__container {
  text-align: center;
}

.features__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--very-dark-blue);
}

.features__description {
  line-height: 1.5;
  color: var(--grayish-blue-color);
  margin-bottom: 2.4rem;
}

.features__tabs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.features__tabs-tab-link {
  text-decoration: none;
  color: var(--grayish-blue-color);
}

.features__tabs-tab-link.active {
  color: var(--very-dark-blue);
}

.features__tabs-item {
  width: 100%;
  text-align: center;
  border-top: 2px solid var(--very-gray-2);
  padding: 1rem 0;
  position: relative;
}

.features__tabs-item:last-child {
  border-bottom: 2px solid var(--very-gray-2);
  margin-bottom: 3rem;
}

.features__tabs-item::after {
  content: "";
  background-color: var(--soft-red-color);
  height: 5px;
  width: 50%;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.features__tabs-item.active::after {
  display: block;
}

.features__tab-content {
  position: relative;
  padding: 0 0 4rem;
  display: none;
  animation: fade 1s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.features__tab-content.active {
  display: block;
}

.tab__left-image {
  height: auto;
  width: 80%;
}

.tab__right {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.tab__pattern {
  width: 90%;
  height: 240px;
  position: absolute;
  background-color: var(--soft-blue-color);
  z-index: -2;
  left: -30px;
  top: 30px;
  border-bottom-right-radius: 30%;
}

.tab__right-title {
  color: var(--very-dark-blue);
  margin: 4rem 0 2rem;
}

.tab__right-description {
  color: var(--grayish-blue-color);
  line-height: 1.5;
}

.tab__right-button {
  margin: 2rem 0;
}

.tab__right-button {
  display: none;
}

/* -----  extension ----- */
.extension__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.extension__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

.extension__title {
  margin: 1rem 0;
  color: var(--very-dark-blue);
}

.extension__description {
  color: var(--grayish-blue-color);
  line-height: 1.5;
}

.extension__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.extension__cards .extension__card {
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  -webkit-box-shadow: 0px 4px 17px -1px rgba(83, 104, 223, 0.3);
  box-shadow: 0px 4px 17px -1px rgba(83, 104, 223, 0.3);
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  width: 100%;
  position: relative;
}

.extension__card__image {
  margin-bottom: 1.5rem;
}

.extension__card__title {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--very-dark-blue);
}

.extension__card__description {
  margin: 0.7rem 0 5rem;
  color: var(--grayish-blue-color);
  font-size: 0.8999rem;
}

.extension__card__button {
  padding: 0 1rem;
  width: 100%;
}

.extension__card__button .btn.btn--blue {
  display: inline-block;
  width: 100%;
}

.dot-pattern {
  background: url(../images/bg-dots.svg) repeat-x;
  background-size: 340px;
  position: absolute;
  top: 270px;
  width: 100%;
  height: 10px;
}

/* ----- FAQ ----- */

.faq {
  padding: 3rem 0 9rem;
  position: relative;
}

.faq__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.faq__title {
  margin: 1rem 0;
  color: var(--very-dark-blue);
}

.faq__description {
  color: var(--grayish-blue-color);
  line-height: 1.5;
}

.faq__accordion {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3rem;
}

.faq__accordion .accordion__item {
  margin-bottom: 1rem;
}

.faq__accordion .answer {
  display: none;
  margin-top: 1rem;
  animation: fade 2s;
}

.faq__accordion .answer.active {
  display: block;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  cursor: pointer;
  border-bottom: 2px solid var(--very-gray-2);
  transition: opacity 0.3s;
  opacity: 1;
  animation: fade 1s;
}

.question.active {
  border-bottom: none;
}

.question:active {
  opacity: 0.2;
}

.question.active svg path {
  stroke: var(--soft-red-color);
}

.question.active svg {
  transform: rotate(180deg);
}

.question__text {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--very-dark-blue);
}

.answer__description {
  color: var(--grayish-blue-color);
  line-height: 1.8;
}

.faq__button {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

/* ---- Contact Us ---- */
.contact-us {
  background-color: var(--soft-blue-color);
  color: var(--white-color);
  padding: 4rem 0;
}

.contact-us__container {
  display: flex;
  flex-direction: column;
}

.contact-us__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact-us__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-us__sub-title {
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.955rem;
  text-align: center;
}

.contact-us__title {
  font-size: 1.7rem;
  margin: 1rem 0 2.9rem;
  text-align: center;
  font-weight: 400;
}

.contact-us__form__email {
  padding: 1rem 1.4rem;
  border: 0;
  border-radius: 0.4rem;
  font-family: var(--font-family);
  outline: 0;
  font-size: 1rem;
  margin-bottom: 1rem;
  background-color: var(--white-color);
}

.contact-us__form__email::placeholder {
  color: var(--very-gray-3);
}

.btn--orange {
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--white-color) !important;
  background-color: var(--soft-red-color);
  display: inline-block;
}

/* ---- footer ----- */
.footer {
  background-color: var(--very-dark-blue);
  padding: 4rem 0;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  margin-bottom: 2rem;
}

.footer__menu_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  list-style: none;
  margin-bottom: 2rem;
}

.footer__menu_list a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 2rem;
  font-weight: 300;
  letter-spacing: 2px;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90px;
}

.footer__social img {
  width: 30px;
}

/* ------- MEDIA FOR MOBILE --------- */
@media screen and (max-width: 430px) {
  /* --- hero --- */
  .hero__pattern {
    height: 200px;
  }

  .btn {
    padding: 1rem 0.5rem;
  }

  .btn--blue,
  .btn--light {
    font-size: 0.7rem;
  }

  .extension__cards .extension__card {
    padding: 2rem 1rem;
  }

  .question__text {
    font-size: 1rem;
  }

  .contact-us__sub-title {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 300px) {
  /* --- hero --- */
  .hero__pattern {
    height: 150px;
  }

  .btn--blue,
  .btn--light {
    font-size: 0.5rem;
  }

  .tab__pattern {
    height: 120px;
  }

  .question__text {
    font-size: 0.7rem;
  }

  .contact-us__sub-title {
    font-size: 0.7rem;
    text-align: center;
  }

  .contact-us__form__email::placeholder {
    font-size: 0.8rem;
  }
}

/* ------ MEDIA FOR  DESKTOP -----  */
@media screen and (min-width: 970px) {
  .header__container {
    padding: 0.6rem 0;
  }

  .header__menu-open {
    display: none;
  }

  .header__nav {
    display: block;
    position: initial;
    background: none;
    width: 47%;
    height: initial;
    top: initial;
    left: initial;
    opacity: initial;
    z-index: initial;
  }

  .header__nav-logo {
    display: none;
  }

  .header__menu-close {
    display: none;
  }

  .header__nav-list {
    list-style: none;
    position: initial;
    left: initial;
    transform: initial;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
  }

  .header__nav-header {
    display: none;
  }

  li.header__nav-list-item {
    border-top: none;
    padding: none;
    text-align: none;
  }

  a.header__nav-list-link {
    text-decoration: none;
    color: var(--very-dark-blue);
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  a.header__nav-list-link--button.btn--orange {
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: 1rem;
    text-transform: capitalize;
    color: var(--white-color) !important;
    background-color: var(--soft-red-color);
    display: inline-block;
  }

  .header__nav-social {
    display: none;
  }

  .header__nav-list-item a.btn--orange {
    display: inline-block;
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0px 4px 17px -1px rgba(83, 104, 223, 0.3);
    box-shadow: 0px 4px 17px -1px rgba(83, 104, 223, 0.3);
  }

  a.header__nav-list-link--button {
    border: none;
    width: initial;
    text-align: initial;
    display: initial;
    padding: initial;
    border-radius: initial;
  }

  /* --- Hero --- */

  .hero__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  .hero__left {
    order: 2;
    width: 48%;
  }

  .hero__left img {
    width: 100%;
    height: 100%;
  }

  .hero__right {
    order: 1;
    width: 45%;
    align-items: flex-start;
  }

  .hero__right .hero__right-title {
    font-size: 2rem;
    text-align: left;
  }

  .hero__right .hero__right-description {
    text-align: left;
  }

  .hero__pattern {
    position: absolute;
    background: var(--soft-blue-color);
    z-index: -1;
    right: 0;
    left: initial;
    top: 140px;
    width: 450px;
    height: 300px;
    border-bottom-left-radius: 30%;
  }

  /* ---- Features  ---- */
  .features__description {
    width: 50%;
    margin: 3rem auto;
  }

  .features__tabs {
    flex-direction: row;
    align-items: stretch;
    margin-bottom: 3rem;
  }

  .features__tabs-item {
    width: 100%;
    text-align: center;
    border-top: none;
    padding: 1rem 0;
    border-bottom: 2px solid var(--very-gray-2);
  }

  .features__tabs-item:last-child {
    margin-bottom: 0;
  }

  .features__tabs-item::after {
    width: 100%;
  }

  .tab__pattern {
    width: 60%;
    height: 240px;
    left: -300px;
    top: 100px;
  }

  .tab__right-title {
    margin-top: 0;
  }

  .tab__left {
    float: left;
    margin-right: auto;
    width: 40%;
  }

  .tab__right {
    width: 45%;
    align-items: flex-start;
    margin-left: auto;
  }

  .tab__left-image {
    height: auto;
    width: 100%;
  }

  .tab__right-button {
    display: block;
  }

  .tab__right-description {
    text-align: left;
  }

  /* --- Extension  --- */
  .extension__description {
    width: 50%;
    margin: 3rem auto;
  }

  .extension__container {
    display: block;
  }

  .extension__cards {
    flex-direction: row;
    justify-content: space-between;
  }

  .extension__cards .extension__card {
    margin-bottom: 0;
    padding: 1.6rem 0.4rem;
    width: 32%;
    justify-content: center;
    align-items: center;
  }

  .extension__cards .extension__card:nth-child(2) {
    top: 50px;
  }
  .extension__cards .extension__card:nth-child(3) {
    top: 100px;
  }

  .extension__card__button {
    padding: 0 1rem;
    width: 100%;
  }

  .extension__card__button .btn.btn--blue {
    display: inline-block;
    width: 100%;
  }

  .faq__heading {
    margin-top: 70px;
  }

  .faq__description {
    width: 50%;
  }

  .faq__accordion {
    margin: 3rem auto;
    width: 50%;
  }

  .contact-us__form {
    flex-direction: row;
    align-items: center;
  }

  .contact-us__form__email {
    padding: 1rem;
    width: 400px;
  }

  .contact-us__form__submit {
    margin-top: -15px;
    margin-left: 10px;
    padding: 1.1rem;
  }

  .contact-us__title {
    font-size: 2rem;
    text-align: center;
    width: 50%;
  }

  /* ---- Footer ---- */
  .footer__container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .footer__logo {
    margin: 0;
    position: relative;
    top: 5px;
  }

  .footer__menu_list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }

  .footer__menu_list li {
    margin-left: 30px;
  }

  .footer__menu {
    margin-left: 40px;
  }

  .footer__menu_list li a {
    margin: 0;
    font-size: 0.8rem;
  }

  .footer__social {
    margin-left: auto;
  }
  .btn--blue,
  .btn--light {
    font-size: 1rem;
  }
}
